<div class="animate__animated animate__fadeIn">
  <div class="card border-0">
    <div class="card-title" style="padding: 0 1.25rem !important">
      <h5>Consulta de Productos</h5>
    </div>

    <div class="card-body" style="padding: 0 1.25rem 0 !important">
      <form method="post" class="content" (ngSubmit)="consultarProductos()">
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="nombre">Nombre del producto</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              [(ngModel)]="objProducto.nombre"
            />
          </div>

          <div class="form-group col-md-4">
            <label for="durabilidad">Durabilidad</label>
            <input
              type="text"
              class="form-control"
              id="durabilidad"
              name="durabilidad"
              [(ngModel)]="objProducto.durabilidad"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="marca">Marca</label>
            <select
              [(ngModel)]="objProducto.marca!.idMarca"
              id="marca"
              name="marca"
              class="form-control"
            >
              <option value="-1">[Seleccione]</option>
              <option *ngFor="let marca of listaMarcas" [value]="marca.idMarca">
                {{ marca.nombre }}
              </option>
            </select>
          </div>

          <div class="form-group col-md-5">
            <label for="pais">País</label>
            <select
              [(ngModel)]="objProducto.pais!.idPais"
              id="pais"
              name="pais"
              class="form-control"
            >
              <option value="-1">[Seleccione]</option>
              <option *ngFor="let pais of listaPaises" [value]="pais.idPais">
                {{ pais.nombre }}
              </option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <label for="button" style="color: transparent">.</label>
            <button type="submit" class="btn btn-primary btn-block">
              Consultar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <hr />

  <div class="text-wrap table-responsive">
    <table class="table table-hover">
      <thead>
        <tr class="table-secondary">
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Durabilidad</th>
          <th scope="col">Precio</th>
          <th scope="col">Stock</th>
          <th scope="col">Marca</th>
          <th scope="col">País</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="listaProductos.length === 0" class="animate__animated animate__fadeIn">
          <td colspan="7" class="text-center"> {{ mensajeDeConsulta }} </td>
        </tr>
        <tr *ngFor="let producto of listaProductos" class="animate__animated animate__fadeIn">
          <th scope="row"> {{ producto.idProducto }} </th>
          <td> {{ producto.nombre }} </td>
          <td> {{ producto.durabilidad }} </td>
          <td> {{ producto.precio }} </td>
          <td> {{ producto.stock }} </td>
          <td> {{ producto.marca?.nombre }} </td>
          <td> {{ producto.pais?.nombre }} </td>
        </tr>
      </tbody>
      <tfoot *ngIf="listaProductos.length !== 0" class="animate__animated animate__fadeIn">
        <td colspan="7"> {{ mensajeDeConsulta }} </td>
      </tfoot>

    </table>
  </div>

</div>
