<div class="animate__animated animate__fadeIn">
    <div class="card border-0">
        <div class="card-title" style="padding: 0 1.25rem !important">
            <h5>CRUD de Proveedor</h5>
        </div>

        <div class="card-body" style="padding: 0 1.25rem 0 !important">
            <div class="content">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ruc">Ingrese RUC</label>
                        <input type="text" class="form-control" id="ruc" name="ruc" placeholder="Ingrese RUC"
                            [(ngModel)]="filtroRazonRuc" />
                    </div>

                    <div class="form-group col-md-2">
                        <label for="checkbox">Estado:
                            <span class="font-weight-bold"
                                [class]="filtroEstado == 1 ? 'text-success' : 'text-warning'">{{ filtroEstado == 1 ?
                                "Activos" : "Inactivos" }}</span>
                        </label>
                        <div class="">
                            <label class="switch" for="checkbox">
                                <input type="checkbox" name="checkbox" id="checkbox" [(ngModel)]="filtroEstado" />
                                <div class="slider round"></div>
                            </label>
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="button" class="invisible-text">.</label>
                        <button (click)="consultarProveedores()" class="btn btn-primary btn-block">
                            Consultar
                        </button>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="button" class="invisible-text">.</label>
                        <button class="btn btn-success btn-block" data-toggle="modal"
                            data-target="#modalRegistrarProducto">
                            Registrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="text-wrap table-responsive">
        <table class="table table-hover text-center text-nowrap">
            <thead>
                <tr class="table-secondary">
                    <th scope="col">Id</th>
                    <th scope="col">Razón Social</th>
                    <th scope="col">Ruc</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Contacto</th>
                    <th scope="col">Estado</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="listaProveedor.length === 0">
                    <td colspan="7" class="text-center">{{ mensajeDeConsulta }}</td>
                </tr>
                <tr *ngFor="let proveedor of listaProveedor">
                    <th scope="row">{{ proveedor.idProveedor }}</th>
                    <td>{{ proveedor.razonsocial }}</td>
                    <td>{{ proveedor.ruc }}</td>
                    <td>{{ proveedor.direccion }}</td>
                    <td>{{ proveedor.celular }}</td>
                    <td>{{ proveedor.contacto }}</td>
                    <td>
                        <div class="custom-control custom-switch">
                            <input [checked]="proveedor.estado" type="checkbox" class="custom-control-input"
                                style="width: 2rem !important; z-index: 999" />
                            <label class="custom-control-label">
                                <span *ngIf="proveedor.estado == 1" class="badge badge-success">Activo</span>
                                <span *ngIf="proveedor.estado == 0" class="badge badge-warning">Inactivo</span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-outline-info" data-toggle="modal" data-target="#modalEditarProducto">
                            Editar
                        </button>

                    </td>
                </tr>
            </tbody>
            <tfoot *ngIf="listaProveedor.length !== 0" class="text-left">
                <td colspan="7">{{ mensajeDeConsulta }}</td>
            </tfoot>
        </table>
    </div>
</div>


