<form (ngSubmit)="insertarReclamo()">
    <div class="form-group">
        <label>Descripción</label>
        <textarea class="form-control" id="description" rows="3" [(ngModel)] = "reclamo.descripcion" name="description"></textarea>
    </div>

    <div class="form-group">
        <label>Tipo de Reclamo</label>

        <select class="form-control" id="tipoReclamo" [(ngModel)] = "reclamo.tipoReclamo!.idTipoReclamo" name="tipoReclamo">
          <option hidden selected value="-1">Seleccione tipo de reclamo</option>
          <option *ngFor="let reclamo of tipoReclamos" value="{{reclamo.idTipoReclamo}}">{{reclamo.descripcion}}</option>
        </select>
    </div>

    <div class="form-group">
        <label>Cliente</label>

        <select class="form-control" id="clientes" [(ngModel)] = "reclamo.cliente!.idCliente" name="idCliente">
          <option hidden selected value="-1">Seleccione cliente</option>
          <option *ngFor="let cliente of clientes" value="{{cliente.idCliente}}">{{cliente.nombres}}</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button> | 
    <button type="reset" class="btn btn-secondary">Reset</button>
</form>
