<form class="row g-4" (submit)="insertClient()">
  <div class="col-lg-12">
    <h1>Registro de cliente</h1>
  </div>

  <div class="col-md-4">
    <label for="nombres">Nombres:</label>
    <input
      type="text"
      class="form-control"
      name="nombres"
      id="nombres"
      [(ngModel)]="cliente.nombres"
    />
  </div>

  <div class="col-md-4">
    <label for="apellidos">Apellidos:</label>
    <input
      type="text"
      class="form-control"
      name="apellidos"
      id="apellidos"
      [(ngModel)]="cliente.apellidos"
    />
  </div>

  <div class="col-md-4">
    <label for="fecha_nacimiento">Fecha de nacimiento:</label>
    <input
      type="date"
      class="form-control"
      name="fecha_nacimiento"
      id="fecha_nacimiento"
      [(ngModel)]="cliente.fechaNacimiento"
    />
  </div>

  <div class="col-md-4">
    <label for="dni">DNI:</label>
    <input
      type="text"
      class="form-control"
      name="dni"
      id="dni"
      maxlength="8"
      [(ngModel)]="cliente.dni"
    />
  </div>

  <div class="col-md-4">
    <label for="correo">Correo:</label>
    <input
      type="text"
      class="form-control"
      name="correo"
      id="correo"
      [(ngModel)]="cliente.correo"
    />
  </div>

  <div class="col-md-4">
    <label for="direccion">Dirección:</label>
    <input
      type="text"
      class="form-control"
      name="direccion"
      id="direccion"
      [(ngModel)]="cliente.direccion"
    />
  </div>

  <div class="col-md-4">
    <label for="departamento">Departamento:</label>
    <select
      id="departamento"
      name="departamento"
      class="form-control"
      [(ngModel)]="cliente.ubigeo!.departamento"
      (change)="listaProvincia()"
    >
      <option value="-1">[Seleccione]</option>
      <option *ngFor="let aux of departamentos" value="{{ aux }}">
        {{ aux }}
      </option>
    </select>
  </div>

  <div class="col-md-4">
    <label for="provincia">Provincia:</label>
    <select
      id="provincia"
      name="provincia"
      class="form-control"
      [(ngModel)]="cliente.ubigeo!.provincia"
      (change)="listaDistrito()"
    >
      <option value="-1">[Seleccione]</option>
      <option *ngFor="let aux of provincias" value="{{ aux }}">
        {{ aux }}
      </option>
    </select>
  </div>

  <div class="col-md-4">
    <label for="distrito">Distrito:</label>
    <select
      id="distrito"
      name="distrito"
      class="form-control"
      [(ngModel)]="cliente.ubigeo!.idUbigeo"
    >
      <option value="-1">[Seleccione]</option>
      <option *ngFor="let aux of distritos" value="{{ aux.idUbigeo }}">
        {{ aux.distrito }}
      </option>
    </select>
  </div>

  <div class="row" style="margin-top: 2%">
    <div class="col-lg-12">
      <button class="btn btn-success">Enviar</button>
    </div>
  </div>
</form>
