<div class="animate__animated animate__fadeIn">
  <h1 class="text-center text-underline font-weight-light">Crud Reclamo</h1>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <label for="descripcion">Descripcion</label>
      <input type="text" maxlength="100" placeholder="Máximo 100 caracteres" [(ngModel)]="txtDescripcion"
        class="form-control" id="descripcion" name="descripcion">
    </div>

    <br><br><br><br>

    <div class="col-md-6 offset-md-3">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-auto">
            <div class="custom-control custom-switch">
              <input type="checkbox" [(ngModel)]="toggleEstado" class="custom-control-input" id="estado">
              <label class="custom-control-label font-weight-bold"
                [class]="toggleEstado == 1 ? 'text-success' : 'text-muted' " for="estado">{{ toggleEstado == 1 ?
                'Activo' : 'Inactivo' }}</label>
            </div>
          </div>

          <div class="col-auto">
            <button class="btn btn-outline-info" (click)="listarReclamos()">Consultar</button> |
            <button id="btnCrear" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalCrear">Crear Reclamo</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let r of listaReclamos">
      <div class="card h-100">
        <div class="card-header border-info">{{ r.fechaCompra }} </div>
        <div class="card-body">
          <h5 class="card-title">{{ r.cliente?.nombres }}</h5>
          <p class="card-text">{{ r.descripcion }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Estado: <span (click)="actualizaEstado(r)" class=" w-2 p-1 align-middle"
              [class]="r.estado == 1 ? 'btn btn-success badge badge-success' : 'btn btn-warning badge badge-warning' ">
              {{ r.estado == 1 ? "Activo" : "Inactivo" }}
            </span></li>
          <li class="list-group-item">Tipo de Reclamo: <b>{{ r.tipoReclamo?.descripcion }}</b></li>
        </ul>
        <div class="card-footer bg-transparent">
          <button class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalEditar" id="btnEditar" (click)="llenarCampos(r)">Editar</button> |
          <button class="btn btn-outline-danger" (click)="eliminarReclamo(r)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

</div>

<div>

</div>

<br><br>

<div class="modal fade" id="modalCrear" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Crud Reclamo</h5>
                <button type="button" id="btnCerrarCrear" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cleanForm()"></button>
            </div>

            <div class="modal-body">
                <form method="post" class="content" [formGroup]="formCrearReclamo">
                  <div class="row g-3">
                      <div class="col-12">
                          <label for="descripcion" class="form-label">Descripcion
                              <span class="text-danger">*
                                  <span *ngIf="analize('descripcion', 1)">Obligatorio</span>
                              </span>
                          </label>
                          <input type="text" class="form-control" id="descripcion" maxlength="100" formControlName="descripcion">
                      </div>

                        <div class="col-md-6">
                            <label for="idCliente" class="form-label">Cliente
                                <span class="text-danger">*
                                    <span *ngIf="analize('idCliente', 1)">Obligatorio</span>
                                </span>
                            </label>
                            <select id="idCliente" formControlName="idCliente" class="form-control">
                                <option value="-1" selected>Seleccione cliente</option>
                                <option *ngFor="let c of listaClientes" [value]="c.idCliente">{{ c.nombres }}</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="tipoReclamo" class="form-label">Tipo de Reclamo
                                <span class="text-danger">*
                                    <span *ngIf="analize('tipoReclamo', 1)">Obligatorio</span>
                                </span>
                            </label>
                            <select id="tipoReclamo" formControlName="tipoReclamo" class="form-control">
                                <option value="-1" selected>Seleccionar tipo de Reclamo</option>
                                <option *ngFor="let t of listaTipoReclamos" [value]="t.idTipoReclamo">{{ t.descripcion }}</option>
                            </select>
                        </div>

                        <div class="col-12">
                            <label for="fechaCompra" class="form-label">Fecha de compra
                                 <span class="text-danger">*
                                    <span *ngIf="analize('fechaCompra', 1)">Obligatorio</span>
                                 </span>
                            </label>
                            <input type="date" formControlName="fechaCompra" class="form-control" id="fechaCompra" name="fechaCompra"/>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="cleanForm()">Cancelar</button>
                <button type="button" class="btn btn-outline-secondary" (click)="cleanForm()">Reset</button>
                <button type="button" id="btnGuardar" class="btn btn-info" (click)="crearReclamo()">Grabar</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="modalEditar" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="title">Crud Reclamo</h5>
              <button type="button" id="btnCerrarEditar" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cleanForm()"></button>
          </div>

          <div class="modal-body">
              <form method="post" class="content" [formGroup]="formEditarReclamo">
                <div class="row g-3">
                    <div class="col-12">
                        <label for="descripcion" class="form-label">Descripcion
                            <span class="text-danger">*
                                <span *ngIf="analize('descripcion', 2)">Obligatorio</span>
                            </span>
                        </label>
                        <input type="text" class="form-control" id="descripcion" maxlength="100" formControlName="descripcion">
                    </div>

                      <div class="col-md-6">
                          <label for="idCliente" class="form-label">Cliente
                              <span class="text-danger">*
                                  <span *ngIf="analize('idCliente', 2)">Obligatorio</span>
                              </span>
                          </label>
                          <select id="idCliente" formControlName="idCliente" class="form-control">
                              <option value="-1" selected>Seleccione cliente</option>
                              <option *ngFor="let c of listaClientes" [value]="c.idCliente">{{ c.nombres }}</option>
                          </select>
                      </div>

                      <div class="col-md-6">
                          <label for="tipoReclamo"  class="form-label">Tipo de Reclamo
                              <span class="text-danger">*
                                  <span *ngIf="analize('tipoReclamo', 2)">Obligatorio</span>
                              </span>
                          </label>
                          <select id="tipoReclamo" formControlName="tipoReclamo" class="form-control">
                              <option value="-1" selected>Seleccionar tipo de Reclamo</option>
                              <option *ngFor="let t of listaTipoReclamos" [value]="t.idTipoReclamo">{{ t.descripcion }}</option>
                          </select>
                      </div>

                      <div class="col-12">
                          <label for="fechaCompra" class="form-label">Fecha de compra
                               <span class="text-danger">*
                                  <span *ngIf="analize('fechaCompra', 2)">Obligatorio</span>
                               </span>
                          </label>
                          <input type="date" formControlName="fechaCompra" class="form-control" id="fechaCompra" name="fechaCompra"/>
                      </div>
                  </div>
              </form>
          </div>

          <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="cleanForm()">Cancelar</button>
              <button type="button" id="btnModificar" class="btn btn-outline-info" (click)="editarReclamo()">Grabar</button>
          </div>
      </div>
  </div>
</div>
